.container {
    display: flex;
    flex-wrap: wrap;
   /* flex-direction: row;
    justify-content:center;
    align-content: space-between;*/
    width: 300px;
}


.item {
    width:300px;
    color:aquamarine;
    margin: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
    text-align:center; /*横の行中央揃え*/
    line-height: 30px;/*行の高さ*/
    vertical-align: middle;

}


.pos-1
{
    order: 1;
}
.pos-2
{
    order: 2;    
}
.pos-3
{
    order: 3;
}
.pos-4
{
    order: 4;    
}
.pos-5
{
    order: 5;
}
.pos-6
{
    order: 6;    
}
.pos-7
{
    order: 7;
}
.pos-8
{
    order: 8;    
}